.wallpaper-1 {
   width: 568px;
   height: 405px;
   background: url('../img/Hobbit.jpg') no-repeat center , radial-gradient(#221f1f 30%, #e0d2d2);
}
.wallpaper-2 {
   width: 500px;
   height: 500px;
   background-image: url('../img/gendalf.jpg'), linear-gradient(to top, #bdb2ec, #312f36);
   background-position: center;
   background-repeat: no-repeat;
}
   


