@font-face {
   font-family: 'CormorantInfant';
   src:  local("Cormorant Infant"),
         local("CormorantInfant"),
         url('../fonts/CormorantInfant-Regular.eot') format('embedded-opentype'),
         url('../fonts/CormorantInfant-Regular.woff2') format('woff2'),
         url('../fonts/CormorantInfant-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'CormorantInfant';
   src:  local("Cormorant Infant"),
         local("CormorantInfant"),
         url('../fonts/CormorantInfant-Bold.eot') format('embedded-opentype'),
         url('../fonts/CormorantInfant-Bold.woff2') format('woff2'),
         url('../fonts/CormorantInfant-Bold.woff') format('woff');  
   font-weight: 700;
   font-style: normal;
}


.hero {
   width: 500px;
   font-family: 'CormorantInfant', serif;
}

.title {
   font-size: 3rem;
   line-height: 200%;
   text-align: center;
}

.text {
   width: 500px;
   text-indent: 25px;
   color: gray;
   font-size: 25px;
   line-height: 30px;
   font-weight: 700;
   word-spacing: 2px;
}


