.title {
   display: inline-block;
   position: relative;
   margin: 30px;
   font-size: 25px;
}

.title::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translate(-12.5px, -50%);
   width: 10px;
   height: 10px;
   background: #3006ca;
   border-radius: 100%;
}
.title::after {
   content: "";
   position: absolute;
   top: 50%;
   transform: translate(2.5px, -50%);
   width: 10px;
   height: 10px;
   background: #ca0610;
   border-radius: 100%;
}


