.wraper {
   width: 432px;
   height: 615px;
   background: url(../92445398.jpg) no-repeat;
}

.text-anima {
   padding-top: 10px;
   font-size: 55px;
   text-align: center;
   font-weight: 900;
   color: #f80606;
   animation: textblink 2s  infinite alternate;
}
@keyframes textblink {
   70% {
      color: #f80606;
   }
   100% {
      color: black;
   }
}


